html, body, div, span, applet, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none; }

:focus {
  outline: 0; }

ol,
ul,
li {
  list-style: none; }

/*table {
    border-collapse: separate;
    border-spacing: 0;
}*/
caption,
th,
td {
  font-weight: normal;
  text-align: left; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

a:link,
a:visited {
  text-decoration: none; }

a:hover,
a:active {
  text-decoration: none; }

table {
  width: 100%; }

.fa {
  line-height: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; }

h1 {
  font-size: 3.375rem;
  font-weight: 600; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem; }

p {
  font-family: 'Merriweather', serif;
  color: #8D8583;
  font-size: 1rem;
  font-weight: 300; }

.bold {
  font-weight: bold; }

.text-center {
  text-align: center; }

.mayusc {
  text-transform: uppercase; }

.text-white {
  color: #ffffff; }

.text-darker {
  color: #322D2B; }

.text-prueba {
  color: white; }

html,
body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  color: #4E4542; }

*,
::after,
::before {
  box-sizing: border-box; }

/*=== Border-radius ===*/
.rounded {
  border-radius: 0.1875rem !important; }

.rounded-pill {
  border-radius: 1.5625rem !important; }

.rounded-circle {
  border-radius: 50% !important; }

/*=== Flexbox ===*/
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important; }

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important; }

.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important; }

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important; }

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important; }

/*=== Shadow ===*/
.shadow {
  box-shadow: 0 0.3125rem 2.1875rem 0 rgba(115, 113, 108, 0.35); }

.shadow-small {
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(0, 0, 0, 0.2); }

/*=== Buttons ===*/
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0.0625rem solid transparent;
  padding: 0.625rem 2.5rem;
  font-size: 0.875rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

.btn-block {
  display: block;
  width: 100%; }

.btn-primary {
  background-color: #5AA34C;
  color: #ffffff; }

.btn-primary:hover {
  background-color: #5AA34C;
  color: #ffffff; }

.btn-primary:hover {
  background-color: #447e36; }

a {
  color: #4E4542;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important; }
  a:hover {
    opacity: 0.8; }

/*=== Margin ===*/
.m-0 {
  margin: 0; }

.m-1 {
  margin: 0.4375rem; }

.m-2 {
  margin: 0.9375rem; }

.m-3 {
  margin: 1.875rem; }

.m-4 {
  margin: 3.75rem; }

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.my-1 {
  margin-top: 0.4375rem;
  margin-bottom: 0.4375rem; }

.my-2 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem; }

.my-3 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem; }

.my-4 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem; }

/*=== Padding ===*/
.p-0 {
  padding: 0; }

.p-1 {
  padding: 0.4375rem; }

.p-2 {
  padding: 0.9375rem; }

.p-3 {
  padding: 1.875rem; }

.p-4 {
  padding: 3.75rem; }

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem; }

.py-1 {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem; }

.py-2 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem; }

.py-3 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem; }

.py-4 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem; }

/*=== Structure ===*/
.container {
  width: 100%;
  max-width: 75rem;
  padding-left: 1.375rem;
  padding-right: 1.375rem;
  margin: auto; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1.375rem;
  margin-left: -1.375rem; }

.col {
  -ms-flex-preferred-size: inherit !important;
  flex-basis: inherit !important;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100% !important;
  padding-right: 1.375rem;
  padding-left: 1.375rem; }

/*=== Image ===*/
.img-fluid {
  max-width: 100%;
  height: auto; }

.img-blackandwhite {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

.cover {
  width: 100%;
  min-height: 100%;
  -o-object-fit: fill;
  object-fit: cover; }

/*=== Colors ===*/
.bg-white {
  background-color: #ffffff; }

.bg-dark {
  background-color: #73716C; }

/*=== Social ===*/
.redes-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center; }

header {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #fff;
  height: 5rem;
  display: flex;
  align-items: center; }
  header .img-logo {
    max-height: 1.5rem; }

footer {
  background-color: #4E4542; }

section {
  padding: 0.625rem;
  padding-bottom: 2.5rem;
  margin-top: 5rem; }
  section .img-profile-cont {
    overflow: hidden;
    width: 7.8125rem;
    height: 7.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.125rem solid #777570; }
  section .cards-fix {
    margin-top: 3.875rem; }
    section .cards-fix .image-float {
      margin-top: -5.8125rem; }
  section .prueba {
    color: white; }

.modal {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.95);
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
  display: flex;
  align-items: center;
  justify-content: center; }
  .modal.show-modal {
    opacity: 1;
    top: 0%; }
    .modal.show-modal .close-button {
      position: fixed; }
  .modal .info-cont {
    display: block;
    overflow-y: auto; }
  .modal .modal-content {
    background-color: white;
    border-radius: 0;
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;
    max-height: 100%; }
    .modal .modal-content h4 {
      color: #322D2B; }
    .modal .modal-content p {
      color: #73716C; }
  .modal .close-button {
    position: absolute;
    right: 1.5625rem;
    top: 1.25rem;
    width: 1.875rem;
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #73716C;
    z-index: 5000; }
    .modal .close-button:hover {
      background-color: darkgray; }
  .modal .img-cont {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    object-fit: cover;
    max-height: 25rem;
    overflow: hidden; }
    .modal .img-cont:after {
      position: absolute;
      overflow: hidden;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(to bottom, rgba(39, 65, 89, 0.5) 0%, rgba(162, 150, 241, 0.2) 100%);
      /* W3C */ }
  .modal .background-image {
    background-image: none; }

body.fixed {
  overflow: hidden; }

.nav {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav .nav-header {
    display: inline; }
    .nav .nav-header .nav-title {
      display: inline-block;
      font-size: 1rem;
      color: #fff;
      padding: 0.625rem 0; }
  .nav .nav-btn {
    display: none; }
  .nav .nav-links {
    display: inline;
    font-size: 1rem; }
    .nav .nav-links a {
      display: inline-block;
      padding: 0.8125rem 1rem;
      text-decoration: none;
      color: #4E4542;
      transition: color .3s ease, opacity .3s ease; }
      .nav .nav-links a:hover {
        opacity: 0.7; }
  .nav #nav-check {
    display: none; }

@media (min-width: 62rem) {
  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0; }
  .col-md-4 {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%; }
  .modal {
    top: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s !important;
    display: flex;
    align-items: center;
    justify-content: center; }
  .show-modal {
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s !important; }
  .modal.show-modal .close-button {
    position: absolute !important; }
  .modal .modal-content {
    height: initial;
    width: 80%;
    max-width: 75rem;
    max-height: 80%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column; }
    .modal .modal-content h4 {
      font-size: 3rem !important; }
    .modal .modal-content p {
      font-size: 1.125rem !important; }
  .modal .info-cont {
    display: flex;
    flex-grow: 1;
    max-height: 100%; }
  .modal .img-cont {
    max-height: initial;
    min-width: 55%; }
  .modal .background-image {
    background-image: url(../image/background-modal.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3500; } }

@media (max-width: 62rem) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0rem;
    top: 0rem; }
    .nav > .nav-btn > label {
      display: inline-block;
      padding: 0.8125rem; }
      .nav > .nav-btn > label:hover {
        background-color: #ffffff; }
      .nav > .nav-btn > label > span {
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        margin: 0.25rem 0;
        background-color: #73716C; }
  .nav .nav-links {
    position: absolute;
    display: block;
    width: calc(100% + 1.875rem);
    height: 0rem;
    overflow-y: hidden;
    top: 3.125rem;
    left: -0.9375rem;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important; }
    .nav .nav-links > a {
      display: block;
      background-color: #fff;
      padding: 0.9375rem 1.875rem;
      width: 100%; }
      .nav .nav-links > a:hover {
        background-color: #4E4542;
        color: #ffffff;
        opacity: 1; }
      .nav .nav-links > a:last-child {
        box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1); }
  .nav > .nav-btn > label:hover,
  .nav .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0rem; }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 3.125rem);
    overflow-y: auto; } }
