header {
	box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.10);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	background-color: #fff;
	height: 5rem;
	display: flex;
	align-items: center;
	.img-logo {
		max-height: 1.5rem;
	}
}
