body {
    @include font-main;
    font-size: 16px;
} 
h1 {
    font-size: 54px;
    font-weight: 600;
}
h3 {
    font-size: 24px;
}
h4 {
    @include font-sec;
    font-size: 24px;
}
p {
    @include font-sec;
    @include color-sec
    font-size: 16px;
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}
.mayusc {
    text-transform: uppercase;
}

.text-white {
    color:#ffffff;
}
.text-darker {
    color:#322D2B;
}